.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartContainer {
  height: 350px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
